.btn-sm {
  padding: .25rem 2rem;
}

.form-control {
  border-radius: .3rem;
}

.form-horizontal .control-label {
  padding-top: 4px;
  text-align: right;
}

.error-label {
  text-align: left!important;
  color: #ed1c24;
}

