<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inmaytide.orbit.model.sys.Log">


    <select id="findCount" parameterType="java.util.Map" resultType="java.lang.Long">
        select count(1) from sys_log
        <where>
            <if test="conditions.keywords != null and conditions.keywords != ''">
                (instr(content, #{conditions.keywords})
                or operator in (select id from sys_user where instr(name, #{conditions.keywords})))
            </if>
            <if test="conditions.begin != null">
                and log_time >= #{conditions.begin}
            </if>
            <if test="conditions.end != null">
                and log_time &lt;= #{conditions.end}
            </if>
        </where>
    </select>


    <select id="findList" parameterType="java.util.Map" resultType="com.inmaytide.orbit.model.sys.Log">
        select id, operator, log_time logTime, content, details,
               (select name from sys_user u where u.id = operator) operatorName
        from sys_log
        <where>
            <if test="conditions.keywords != null and conditions.keywords != ''">
                (instr(content, #{conditions.keywords})
                or operator in (select id from sys_user where instr(name, #{conditions.keywords})))
            </if>
            <if test="conditions.begin != null">
                and log_time >= #{conditions.begin}
            </if>
            <if test="conditions.end != null">
                and log_time &lt;= #{conditions.end}
            </if>
        </where>
        order by log_time desc
        <if test="conditions.ispagation == 1">
            limit #{conditions.size} offset #{conditions.offset}
        </if>
    </select>

</mapper>